body {
    margin: 0;
    overflow: hidden;
}
#WebGL-output {
    position: relative;
}
/* Fonts */
@font-face {
    font-family: 'lcd2bold';
    src: url('../fonts/lcd.woff2') format('woff2'),
    url('../fonts/lcd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.output {
    position: absolute;
    font-family: lcd2bold;
    color: blue;
    font-size: 6rem;
}
#speedOutContainer {
    left: 65%;
    width: 10%;
    top: 32.5%;
}
#revsContainer {
    left: 27.5%;
    width: 10%;
    top: 32.5%;
}
